<!DOCTYPE html>
<html>
<head>
  <title>Pgate model</title>
  <%= stylesheet_link_tag    "pgate_model/application", media: "all" %>
  <%= javascript_include_tag "pgate_model/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
